.page-demo {
  position: relative;
  background-color: #f2f2f2;
  text-align: center;
}
.page-demo .heading-title {
  font-weight: 900 !important;
  font-size: 42;
}
.page-demo .main-para {
  margin-top: 40;
  text-align: center;
  font-size: 17;
  font-weight: 400;
}
.demos {
  position: relative;
  background-color: #2c2c31;
}
.demos .title-demo {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100 !important;
  margin-top: 70;
  margin-bottom: 50;
}
.demos .para-demo {
  color: #bfbfbf;
  font-size: 15px;
  text-align: center;
  margin-top: 50;
  margin-bottom: 20;
  text-transform: capitalize;
}
